VITE_API_BASE_URL=http://localhost:8080
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0163681294.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0163681294
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0163681294.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=780779131165
VITE_FIREBASE_APP_ID=1:780779131165:web:d9a8238c107fd98ceb11f4
